.photo-fram{
    width: 300px;
    height: 200px;
    position: relative;
    margin: 7px;
    border-radius: 10px;
    border-color: chartreuse;
}
.photo-fram .photo img{
   width: 100%;
}
.container{
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
}
#margin{
    margin-left: 60px;
}
.details{
    position: absolute;
    display: none;
    top: 0px;
}
.photo-fram:hover .details{
    display: block;
    background-color: chartreuse;
    text-decoration-color: cyan;
}
.photo-fram:hover .details h2{
    color: white;
    background-color: black;
    text-align: center;
}